<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.su.wx">

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 基础模块 END -->
    <application
        android:name=".app.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/weixin_light"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wechat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <provider
            android:authorities="com.su.wx.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <!-- 即时通讯模块、推送（均需要加入以下声明） START -->
        <!-- 即时通讯模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 即时通讯模块、推送 END -->


        <!-- 反馈组件（需要加入以下声明）START -->
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity" />
        <!-- 反馈组件 END -->

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            />
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".activity.SearchUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetDeviceIdActivity"
            android:theme="@style/NoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VerifyDeviceIdActivity"
            android:theme="@style/NoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserinfoSettingActivity"
            android:theme="@style/NoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatSettingActivity"
            android:theme="@style/NoTitle"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.PermissionActivity" />
    </application>

</manifest>